/.idea
/bootstrap
/public
/resources
/storage
/tests
/vendor
/.editorconfig
/.env.example
/.gitattributes
/.styleci.yml
/artisan
/composer.lock
/docker-compose.yml
/package.json
/phpunit.xml
/README.md
/server.php
/webpack.mix.js